html
{
    font-family: 'Helvetica';
    font-size:1em;
}

body
{
    /*padding:10px;*/
}

form
{
padding-left:40px;
}

#code_hierarchy
{
    position:relative;
    margin:0 auto;
}

#code_hierarchy_legend
{
    height:30px;
    font-size:1.2em;
    text-align:center;
    padding-left:10px;
}
